.card {
  border: 1px solid #f3f3f3;
  width: 210px;
  border-radius: 40px;
  padding: 30px 29px;
  transition: box-shadow 0.2s ease-in-out, transform 0.2s ease-in-out;

  &:hover {
    box-shadow: 0px 14px 35px rgba(0, 0, 0, 0.06);
    transform: translateY(-5px);
  }

  .favourite {
    position: absolute;
    cursor: pointer;
  }

  span {
    text-transform: uppercase;
    font-size: 13px;
    opacity: 0.5;
  }

  b {
    font-size: 13px;
  }

  h5 {
    font-weight: 400;
    font-size: 14px;
    line-height: 16.94px;
  }

  .button {
    background: #fff;
    border: 1px solid #f2f2f2;
    box-sizing: border-box;
    border-radius: 8px;
    height: 32px;
    width: 32px;
    cursor: pointer;
  }
}