.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

  .drawer {
    z-index: 2;
    position: absolute;
    width: 385px;
    right: 0;
    height: 100%;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;

    .cartTop {
      width: 100%;

      h2 {
        margin: 0;
        font-size: 24px;
      }

      .cartItems {
        max-height: 60vh;
        min-width: 104%;
        overflow: auto;
        margin-bottom: 40px;

        .cartItem {
          border: 1px solid #f3f3f3;
          border-radius: 20px;
          overflow: hidden;
          width: 325px;
          height: 120px;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 14px;
            width: 150px;
            line-height: 17px;
            font-weight: 400;
          }

          b {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }

    .cartEmptyTop {
      width: 100%;
      display: flex;
      flex-direction: column;
      text-align: center;
      height: 60%;
      justify-content: space-between;

      h2 {
        margin: 0;
        font-size: 24px;
      }

      .cartEmptyTitle {
        color: #000;
        font-weight: 600;
        font-size: 22px;
        line-height: 27px;
        margin-bottom: 10px;
      }

      .cartEmptyText {
        color: #000;
        opacity: 0.4;
        font-size: 16px;
        line-height: 24px;
        font-weight: 400;
        width: 285px;
        margin: 0 auto;
      }

      .cartEmptyButton {
        border: none;
        width: 80%;
        height: 55px;
        font-weight: 500;
        font-size: 16px;
        line-height: 19.36px;
        text-align: center;
        border-radius: 18px;
        background-color: #9dd458;
        color: #fff;
        cursor: pointer;
        transition: background-color 0.2s ease-in-out;

        img {
          position: absolute;
          transform: translate(-35px, 2px) rotate(180deg);
          transition: transform 0.2s ease-in-out;
        }

        &:hover {
          background-color: lighten(#9dd458, 5%);

          img {
            transform: translate(-45px, 2px) rotate(180deg);
          }
        }

        &:active {
          background-color: darken(#9dd458, 5%);
        }
      }
    }
  }
}

.overlayVisible {
  visibility: visible;
  opacity: 1;

  .drawer {
    transform: translateX(0);
  }
}


.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -3px;
    margin: 0 8px;
  }
}

.cartTotalButton {
  border: none;
  width: 100%;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  border-radius: 18px;
  background-color: #9dd458;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;


  img {
    position: absolute;
    transform: translate(55px, 4px);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background-color: lighten(#9dd458, 5%);

    img {
      transform: translate(65px, 4px);
    }
  }

  &:active {
    background-color: darken(#9dd458, 5%);
  }

  &:disabled {
    background-color: #bebebe;
    cursor: default;
    animation: orderButton 1s ease-in-out infinite;
  }
}


@keyframes orderButton {
  0% {
    opacity: 1;
  }
  75% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}