.overlay {
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1;
  width: 100%;
  height: 100%;


  .drawer {
    z-index: 2;
    position: absolute;
    width: 385px;
    right: 0;
    height: 100%;
    background: #FFFFFF;
    box-shadow: -10px 4px 24px rgba(0, 0, 0, 0.1);
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    .cartTop {
      width: 100%;

      h2 {
        margin: 0;
        font-size: 24px;
      }

      .cartItems {
        max-height: 60vh;
        min-width: 104%;
        overflow: auto;
        margin-bottom: 40px;

        .cartItem {
          border: 1px solid #f3f3f3;
          border-radius: 20px;
          overflow: hidden;
          width: 325px;
          height: 120px;
          margin-bottom: 20px;

          &:last-child {
            margin-bottom: 0;
          }

          p {
            font-size: 14px;
            width: 150px;
            line-height: 17px;
            font-weight: 400;
          }

          b {
            font-weight: 700;
            font-size: 14px;
            line-height: 17px;
          }
        }
      }
    }
  }
}


.removeBtn {
  opacity: 0.5;
  cursor: pointer;
  transition: opacity 0.2s ease-in-out;

  &:hover {
    opacity: 1;
  }
}

.cartTotalBlock {
  li {
    display: flex;
    align-items: flex-end;
  }

  div {
    flex: 1;
    height: 1px;
    border-bottom: 1px dashed #dfdfdf;
    position: relative;
    top: -3px;
    margin: 0 8px;
  }
}

.cartTotalButton {
  border: none;
  width: 100%;
  height: 55px;
  font-weight: 500;
  font-size: 16px;
  line-height: 19.36px;
  text-align: center;
  border-radius: 18px;
  background-color: #9dd458;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;


  img {
    position: absolute;
    transform: translate(55px, 4px);
    transition: transform 0.2s ease-in-out;
  }

  &:hover {
    background-color: lighten(#9dd458, 5%);

    img {
      transform: translate(65px, 4px);
    }
  }

  &:active {
    background-color: darken(#9dd458, 5%);
  }
}
